
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Flask and Ember on GAE</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>
<body>
    {% raw %}
  <script type="text/x-handlebars">
<div class="navbar-default sidebar" role="navigation">
   <div id="logo"> <img src="/assets/images/logo.png"/></div>
                <div class="sidebar-nav navbar-collapse">
                    <div><h4>Flask Ember GAE</h4></div>
                    <ul class="nav" id="side-menu">
                        <li>
                            {{#link-to "tickets"}}Tickets{{/link-to}}
                        </li>
                        <li>
                            {{#link-to "calendar"}}Calendar{{/link-to}}
                        </li>
                        <li>
                            {{#link-to "zoom"}}Zoom{{/link-to}}
                        </li>
                        <li>
                            {{#link-to "echo"}}Echo360{{/link-to}}
                        </li>
                        <li>
                            {{#link-to "polycom"}}Polycom{{/link-to}}
                        </li>
                        <li>
                            {{#link-to "printers"}}Printers{{/link-to}}
                        </li>
                        <li>
                            {{#link-to "laptops"}}Laptops{{/link-to}}
                        </li>
                        <li>
                            {{#link-to "classrooms"}}Classrooms{{/link-to}}
                        </li>
                                                                                            
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
          {{outlet}}
                <!-- /.col-lg-12 -->
</div>
  </script>
  <script type="text/x-handlebars" id="index">
    <ul>
    {{#each item in model}}
      <li>{{item}}</li>
    {{/each}}
    </ul>
  </script>

  <script type="text/x-handlebars" data-template-name="contacts/index">
      <ul>
        {{#each contact in controller}}
          <li>
            <p>
             {{#link-to "contact" contact}}
          {{contact.firstName}} {{contact.lastName}} {{/link-to}} </p>
          </li>
        {{/each}}
      </ul>
    </div>
    {{outlet}}
</script>

  <script type="text/x-handlebars" data-template-name="contacts/new">
  {{outlet}}
  <div>
    <form {{action save on="submit"}}>
      <p>{{input type="text" class="firstName" placeholder="First Name" value=firstName}}</p>
        <p>{{input type="text" class="lastName" placeholder="Last Name" value=lastName}}</p>
        <p>{{input type="text" class="firstName" placeholder="Birthday" value=bday}}</p>
        <p>{{input type="text" class="firstName" placeholder="Zodiac" value=zodiac}}</p>    
      <button type="submit">Update post</button>
    </form>

      </div>
</script>

  <script type="text/x-handlebars" data-template-name="contact">
      <ul>
        <li>
            <h1><p>{{firstName}} {{lastName}} </p></h1>
            <p>{{bday}}</p>
            <p>{{zodiac}}</p>
          </li>
      </ul>
    </div>
</script>

  {% endraw %}
  <script src="{{ url_for('static', filename='js/libs/jquery-1.10.2.js') }}"></script>
  <script src="{{ url_for('static', filename='js/libs/handlebars-1.1.2.js') }}"></script>
  <script src="{{ url_for('static', filename='js/libs/ember-1.5.1.js') }}"></script>
  <!--<script src="{{ url_for('static', filename='js/libs/ember-data.js') }}"></script>-->
  <script src="//cdnjs.cloudflare.com/ajax/libs/ember-data.js/1.0.0-beta.12/ember-data.js"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  <!-- to activate the test runner, add the "?test" query string parameter -->
  <script src="{{ url_for('static', filename='js/tests/runner.js') }}"></script>

</body>
</html>
